In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [2]:
file_path="dataset/data.csv"

dataset=pd.read_csv(file_path)
df = pd.DataFrame(dataset)

In [3]:
df.head(5)

,Drugname,Price,Search Query,Date,Price_prev,Price Changed,Form,Company,Region,Category
0,AA,1,AA,2024-10-07 15:47:11,1.0,True,Ointment,MediHealth,Asia,Painkiller
1,AALEXOLYTE SYRUP,1,AA,2024-10-07 15:47:11,1.0,True,Capsule,BioTech,Europe,Vitamin
2,AARTHROFAST 150 MG 14 MR TAB.,1,AA,2024-10-07 15:47:11,1.0,True,Tablet,CureWell,Asia,Antifungal
3,AASSDD,1,AA,2024-10-07 15:47:11,1.0,True,Tablet,MedGen,Africa,Antibiotic
4,AAZHA CREAM 75ML,1,AA,2024-10-07 15:47:11,1.0,True,Syrup,BioTech,Middle East,Antiviral

# Apply Necessary Transformation

In [4]:
df.columns

Index(['Drugname', 'Price', 'Search Query', 'Date', 'Price_prev',
       'Price Changed', 'Form', 'Company', 'Region', 'Category'],
      dtype='object')

In [5]:
del df["Price Changed"]
del df["Search Query"]
del df["Date"]
del df["Price_prev"]
#del df["Price(EGP)"]

In [6]:
df.columns

Index(['Drugname', 'Price', 'Form', 'Company', 'Region', 'Category'], dtype='object')

In [7]:
df.head(5)

,Drugname,Price,Form,Company,Region,Category
0,AA,1,Ointment,MediHealth,Asia,Painkiller
1,AALEXOLYTE SYRUP,1,Capsule,BioTech,Europe,Vitamin
2,AARTHROFAST 150 MG 14 MR TAB.,1,Tablet,CureWell,Asia,Antifungal
3,AASSDD,1,Tablet,MedGen,Africa,Antibiotic
4,AAZHA CREAM 75ML,1,Syrup,BioTech,Middle East,Antiviral

In [8]:
print(pd.io.sql.get_schema(df, name="data"))

CREATE TABLE "data" (
"Drugname" TEXT,
  "Price" INTEGER,
  "Form" TEXT,
  "Company" TEXT,
  "Region" TEXT,
  "Category" TEXT
)

# Build Connection to destination

### Running postgres with docker

```bash
docker run --name some-postgres -p 5432:5432 -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" -e POSTGRES_DB="EGM" -d postgres
```
***Verify with***
```bash
docker ps
```

In [9]:
from sqlalchemy import create_engine

In [10]:
#engine = create_engine("postgresql://root:root@localhost:5432")
engine = create_engine("postgresql://root:root@localhost:5432/EGM")

In [11]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df, name="data", con=engine))

CREATE TABLE data (
	"Drugname" TEXT,
	"Price" BIGINT,
	"Form" TEXT,
	"Company" TEXT,
	"Region" TEXT,
	"Category" TEXT
)

# Import data to postgres using Batch Processing

In [13]:
# Create the iterator
df_iter=pd.read_csv("dataset/data.csv", iterator=True, chunksize=10000) #chunk-size = 10000

In [14]:
df = next(df_iter)

In [15]:
del df["Price Changed"]
del df["Search Query"]
del df["Date"]
del df["Price_prev"]

In [16]:
len(df)

10000

In [17]:
df

,Drugname,Price,Form,Company,Region,Category
0,AA,1,Ointment,MediHealth,Asia,Painkiller
1,AALEXOLYTE SYRUP,1,Capsule,BioTech,Europe,Vitamin
2,AARTHROFAST 150 MG 14 MR TAB.,1,Tablet,CureWell,Asia,Antifungal
3,AASSDD,1,Tablet,MedGen,Africa,Antibiotic
4,AAZHA CREAM 75ML,1,Syrup,BioTech,Middle East,Antiviral
...,...,...,...,...,...,...
9995,APPLE LITE 30 TABS,1,Injection,CureWell,North America,Antiviral
9996,APPLE NAIL CLIPPER,1,Syrup,PharmaCorp,Asia,Antibiotic
9997,APPLE NEW SAFE 250ML,1,Ointment,PharmaCorp,Middle East,Antiviral
9998,APPLE NIPPLE (L),1,Syrup,CureWell,Europe,Antifungal
9999,APPLE NIPPLE (M),1,Capsule,CureWell,Middle East,Vitamin

In [18]:
df.to_sql(name="egypt_medicines", con=engine, if_exists="append")

1000

In [19]:
while True:
    # Pass the next chunk of the dataset
    df = next(df_iter)
    
    #Apply transformations
    del df["Price Changed"]
    del df["Search Query"]
    del df["Date"]
    del df["Price_prev"]
        
    # Post data to the table
    df.to_sql("egypt_medicines", con=engine, if_exists="append")
    print("Chunk updated")

Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated
Chunk updated

StopIteration:

### The Data Has been Added to PostgreSQL Database Named EGM

# Connecting PostgreSQL to PgAdmin on Docker

### Initiate Docker Network

``` bash
docker network create pgsql-net
```

### Run PostgreSQL on Docker Network

``` bash
docker run --name some-postgres -p 5432:5432 -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" --network psql-net -e POSTGRES_DB="EGM" -d postgres
```

### Run PgAdmin on Docker Network

``` bash
docker run --name my-pgadmin -p 80:80 -e PGADMIN_DEFAULT_EMAIL=root@admin.com -e PGADMIN_DEFAULT_PASSWORD=root --network psql-net -d elestio/pgadmin
```